.description{
 margin-right: 90px;
}
.footerWrapper{
    background-color: #200D00;
    color: white;
}
@media (max-width:576px){
    .nav{
        min-width: 100%;
    }
    .nav h5{
        border-bottom: 2px solid gray !important;
        padding: 6px;
    }
    .nav li{
        display: none;
    }
    .nav:hover li{
        display: block !important;
    }
}